:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --background-color: #2b2d42;
  --text-color: #edf2f4;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  background-color: var(--background-color) !important;
  color: var(--text-color);
  font-family: var(--font-family), serif;
}

body {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  flex-grow: 1;
  height: 100vh;
}