:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
}

#treemap {
    height: 100%;
    width: 100%;
}


