name: Tests and build

on:
  push:
    branches:
      - master
  pull_request:

permissions: read-all

env:
  GOTOOLCHAIN: "local"

jobs:
  build-ui:
    name: Build Web UI
    permissions:
      contents: write
    uses: ./.github/workflows/build-webui.yml
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    with:
      release: ${{ github.event_name == 'push' }}

  build-wasm:
    name: Build Wasm
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: '1.26.0'
          cache: true
          check-latest: true

      - name: Setup Binaryen
        uses: Zxilly/setup-binaryen@3cda60f50c9575dff0dc7a1d27cdf1306333a7c5 # v1.1.0
        with:
          version: '125'

      - name: Download deps
        run: go mod download

      - name: Build wasm
        uses: ./.github/actions/setup-script
        with:
          script: 'wasm.py'

      - name: Upload wasm artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          path: 'ui/gsa.wasm'
          name: wasm

  tests:
    name: Tests
    needs:
      - build-ui
    permissions:
      contents: write
      checks: write
    strategy:
      matrix:
        os: [ ubuntu-24.04, ubuntu-24.04-arm, windows-latest, macos-15-intel, macos-14 ]
        test: [ unit, integration-example, integration-real ]
        include:
          - test: unit
            test-type: unit
          - test: integration-example
            test-type: integration
          - test: integration-real
            test-type: integration
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: '1.26.0'
          cache: true
          check-latest: true

      - name: Setup Go global dependencies
        run: |
          go install github.com/jstemmer/go-junit-report/v2@85bf4716ac1f025f2925510a9f5e9f5bb347c009
          go install github.com/Zxilly/go_js_wasm_exec@149a70ce858641392338293a05ba15b00585860e

      - name: Download UI file
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: ui
          path: internal/webui

      - name: Download deps
        run: go mod download

      - name: Run ${{ matrix.test }} tests
        uses: ./.github/actions/setup-script
        with:
          cache: ${{ matrix.test }}
          script: 'tests.py --${{ matrix.test }}'
          report: 'true'
          coverage: 'true'
          cache-python: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload coverage
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        if: ${{ !cancelled() }}
        with:
          disable_search: true
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ${{ matrix.test-type }}.profile,covdata/unit/normal.out,covdata/unit/embed.out,covdata/unit/wasm.out
          flags: ${{ matrix.test-type }}
          use_pypi: true
          verbose: true

      - name: Upload test results to Codecov
        if: ${{ !cancelled() && matrix.test-type == 'unit' }}
        uses: codecov/test-results-action@0fa95f0e1eeaafde2c782583b36b28ad0d8c77d3 # v1.2.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          name: ${{ matrix.os }} unit tests
          flags: ${{ matrix.os }}-unit
          files: unit.xml,unit_embed.xml,unit_wasm.xml
          verbose: true

      - name: Upload results
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: ${{ !cancelled() }}
        with:
          name: ${{ matrix.os }}-${{ matrix.test }}-results
          path: |
            results/
            ${{ matrix.test-type }}.profile

  merge:
    name: Merge Go test results
    needs: tests
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        os: [ ubuntu-24.04, ubuntu-24.04-arm, windows-latest, macos-15-intel, macos-14 ]
    steps:
      - name: Merge
        uses: actions/upload-artifact/merge@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ matrix.os }}-results
          compression-level: '9'
          pattern: ${{ matrix.os }}-{unit,integration-{example,real}}-results
          delete-merged: true
          retention-days: 7

  tests-result:
    name: Tests result
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - run: exit 1
        if: >-
          ${{
               contains(needs.*.result, 'failure')
            || contains(needs.*.result, 'cancelled')
            || contains(needs.*.result, 'skipped')
          }}

  tests-ui:
    name: UI Tests
    runs-on: ubuntu-latest
    needs: build-wasm
    permissions:
      contents: write
      checks: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Setup UI dependencies
        uses: ./.github/actions/setup-ui-deps

      - name: Install dependencies
        working-directory: ./ui
        run: pnpm install

      - name: Download WASM
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: wasm
          path: ui/

      - name: Run tests
        working-directory: ./ui
        run: pnpm test

      - name: Upload coverage
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: ui
          name: Web UI tests
          directory: ./ui
          verbose: true

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@0fa95f0e1eeaafde2c782583b36b28ad0d8c77d3 # v1.2.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          name: Web UI tests
          flags: ui
          files: ./ui/test-results.xml
          verbose: true

  build-explorer:
    name: Build go-size-analyzer explorer
    runs-on: ubuntu-latest
    needs:
      - build-wasm
      - tests-ui
      - tests
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Setup UI dependencies
        uses: ./.github/actions/setup-ui-deps

      - name: Download WASM
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: wasm
          path: ui/

      - name: Build
        working-directory: ./ui
        run: pnpm run build:explorer
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
          PULL_REQUEST_COMMIT_SHA: ${{ github.event.pull_request.head.sha }}
          GSA_TELEMETRY: true

      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: 'ui/dist/explorer/'

  deploy:
    name: Deploy explorer to GitHub Pages
    if: ${{ github.event_name == 'push' }}
    needs: build-explorer
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-pages-deploy
      cancel-in-progress: true
    permissions:
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Setup Pages
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
