name: Goreleaser

on:
  push:
    tags:
      - "*"

permissions: read-all

env:
  GOTOOLCHAIN: "local"

jobs:
  build-ui:
    name: Build Treemap WebUI
    permissions:
      contents: write
    uses: ./.github/workflows/build-webui.yml
    with:
      release: false

  goreleaser:
    name: Release
    permissions:
      contents: write
      id-token: write
      attestations: write
    needs: build-ui
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Get tags
        run: git fetch --tags

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: '1.26.0'
          cache: true
          check-latest: true

      - name: Download UI file
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: ui
          path: internal/webui

      - name: Collect profiles
        uses: ./.github/actions/setup-script
        with:
          cache: 'integration-real'
          script: 'pgo.py'
          coverage: 'true'

      - name: Download deps
        run: go mod download

      - name: Build and release
        uses: goreleaser/goreleaser-action@ec59f474b9834571250b370d4735c50f8e2d1e29 # v7.0.0
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Attest build provenance
        id: attest
        uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f # v3.2.0
        with:
          subject-path: |
            dist/go-size-analyzer*.apk
            dist/go-size-analyzer*.deb
            dist/go-size-analyzer*.pkg.tar.zst
            dist/go-size-analyzer*.rpm
            dist/go-size-analyzer*.tar.gz
            dist/go-size-analyzer*.zip

      - name: Upload build provenance
        uses: svenstaro/upload-release-action@6b7fa9f267e90b50a19fef07b3596790bb941741 # v2.11.3
        with:
          asset_name: attestations.intoto.jsonl
          file: ${{ steps.attest.outputs.bundle-path }}
          overwrite: false